
.work-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   /* left:5%; */
   overflow-y:auto;
   margin-left:10%;
   
   
  }
  
  .work-item-card {
    width: 200px;
  }
  .work-item-name {
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
  }
  