<div class="admin-container">
    <div class="sidenav">
      <div class="row">
        <div class="img">
          <img  src="assets/car-log.jpg" alt="car-logo" />
          </div>

        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse show">
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin/vehicles']" routerLinkActive="active">
                  <i class="fas fa-car"></i> Vehicles
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin/service-advisors']" routerLinkActive="active">
                  <i class="fas fa-user-tie"></i> Service Advisors
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin/work-items']" routerLinkActive="active">
                  <i class="fas fa-users"></i> Work-Items
                </a>
              </li>
            </ul>
          </div>
          </nav>
        </div>
    </div>
    <div class="body-cont">
    <div class="header-container d-flex justify-content-between">
      <h3 class="three-d-text">VSMS</h3>
     <div>
       <h3 class="three-d-text">
          Admin Dashoboard
       </h3>
     </div>
     <button class="btn btn-danger btn-sm" style="height: 40px;margin: 10px;" (click)="onLogOut()">Logout</button>
    </div>
    <div class="section-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
