.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}
.header-container{
  height:20vh;
  max-height:100px;
  width:80vw;
  background:white;
 }

.content {
  padding: 16px;
}

.dashboard-card {
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.dashboard-card:hover {
  transform: scale(1.05);
}

li{
  border:2px solid black;
  width:100%;

}
.section-container{
  width:80vw;
  height:80vh;
}
.card{
  width:300px;
  height:150px;
  box-shadow:5px 5px 20px;
}
.customer-enquiry-container{
  box-shadow:5px 5px 20px;
  border:5px solid white;
  border-radius:2%;
}