<div class="body-container d-flex">
 
 <div class="section-container"> 
     <div class="card-container d-flex justify-content-around">
      <div class="mt-5">
        <div class="card bg-primary">
           <div class="card-body">
              <h4 class="card-title " >
                 Total service Advisors : <span>{{totalServiceAdvisors}}</span>
              </h4>
           </div>
        </div>
    </div>
    <div class="mt-5">
      <div class="card bg-warning">
         <div class="card-body">
            <h4 class="card-title " >
               Active Customers <br>
               <span>{{activeCustomers}}</span>
            </h4>
         </div>
      </div>
  </div>
  <div class="mt-5">
    <div class="card bg-danger">
       <div class="card-body">
          <h4 class="card-title " >
             Total vehicles <Br><span>{{totalVehicles}}</span>
          </h4>
       </div>
    </div>
</div>
     </div>
     <div class="customer-enquiry-container m-2 mt-3">
      <table class="table table-hover table-custom">
        <thead>
            <tr>
                <th scope="col">Customer Name</th>
                <th scope="col"> Vehicle Name</th>
                <th scope="col">Category</th>
                <th scope="col">Vehicle Id</th>
                <th scope="col-lg">Problem Description                  </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Evan Ron</th>
                <td>John Doe</td>
                <td>john.doeexample.com</td>
                <td>(555) 123-4567</td>
                <td>
                    Handle not working Properly
                </td>
            </tr>
            <tr>
                <th scope="row">Sarina Evia</th>
                <td>Jane Smith</td>
                <td>jane.smithexample.com</td>
                <td>(555) 987-6543</td>
                <td>TurboCharger damage
                </td>
            </tr>
            <tr>
              <th scope="row">John Smith</th>
              <td>Jane Smith</td>
              <td>jane.smithexample.com</td>
              <td>(555) 987-6543</td>
              <td>Engine Overheating
              </td>
          </tr>
           
        </tbody>
    </table>

     </div>
  </div>
</div>